// app global css in SCSS form

.text-brand-yellow {
  color: #fbb040;
}
.bg-brand-yellow {
  background: #fbb040;
}

.text-brand-orange {
  color: #f15a29;
}
.bg-brand-orange {
  background: #f15a29;
}

.text-brand-teal {
  color: #00a79d;
}
.bg-brand-teal {
  background: #00a79d;
}

.text-brand-purple {
  color: #9e1f63;
}
.bg-brand-purple {
  background: #9e1f63;
}

.text-brand-grey {
  color: #363535;
}
.bg-brand-grey {
  background: #363535;
}

.text-brand-grey-1 {
  color: #616161;
}
.bg-brand-grey-1 {
  background: #616161;
}