// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #f73b1e; //Theme Color
$secondary : #434545; //Background-1 //434545
$accent    : #7f7f7f; //Background-2 //adadad
$info      : #f2f2f2; //Text Color   //f2f2f2
$dark      : #2e2c2c; //Background (Light/Dark) //2e2c2c

$positive  : #21BA45;
$negative  : #ffffff;
$warning   : #F2C037;
